/* ABOUT */
body{
    font-family: 'Times New Roman', Times, sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
ul{
    list-style: none;
}

#about{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  #background: rgb(0,11,255);
#background: linear-gradient(90deg, rgba(0,11,255,1) 0%, rgba(255,255,255,1) 50%, rgba(252,0,0,1) 100%); 
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 60%;
}
.profile_pic{
    text-align: center;
    margin: 0px auto 30px;
}

section{
    padding: 65px 0 80px 0;
}

section .heading{
    text-align: center;
    padding-bottom: 40px;
}

#about .heading h1{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#about .heading h2, h4{
    color : white;
}

section .heading h2{
    text-transform: uppercase;

}

.divider{
    width: 100px;
    height: 2px;
    background-color: #3d2a2a;
    margin: 0 auto 20px;
}

.divider.white{
    background-color: white;
}
/*SKILLS*/

#skills .heading h2{
    color: #833ab4;
}
#skills .progress {
    height: 40px;
    margin: 30px 20px;
}
#skills .progress:last-child{
    margin-bottom: 0px;
}

#skills .progress-bar{
    background-color: #fcb045;
}

/* EXPERIENCE */

#experience{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#experience .heading h2{
    color: white;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}

.timeline::before{
    content: " ";
    top: 0;
    bottom: 0;
    
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}

.timeline li .timeline-badge{
    color: #3d2a2a;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}

.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px ;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgb(0, 0, 0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}

.timeline-heading h4{
    margin-top: 5px;
    font-size: 20px;
    color: #3d2a2a;
}

a:hover{
    cursor: pointer;
}

/* EDUCATION */

#education .heading h2{
    color: #833ab4;
    margin: 15px 0;
}
.education_block{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-color: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.education_block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education_block span{
    font-size: 35px;

}
.education_block h3{
    color: #fcb045;
    margin: 15px 0px;
}
.education_block h4{
    margin-bottom: 20px;
    font-weight: normal;
    color: black;
}

/* PORTOFOLIO */

.img-thumbnail{
    width: 50px;
    height: 30px;
}

#portfolio{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#portfolio .heading h2{
    color: white;
}

#portfolio img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}
#portfolio img:hover{
    filter: none;
    -webkit-filter: none;

}
.title-project{
    margin-top : 5px
    color: white;
    font-style: underline;
}

h5{
    color: fcb045;
    margin-bottom: 5px;
}


.modalProject1, .modalProject2, .modalProject3, modalprojectPerso1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content1, .modal-content2, .modal-content3, modal-contentPerso1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close1, .close2, .close3, closePerso1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/*PROJET*/

#projet .heading h2{
    color: #833ab4;
}
#myCarousel .carousel-item{
    padding: 30px 30px 90px;
}
#myCarousel .carousel-item h3{
    color: #3d2a2a;
    font-style: italic;
    text-align: center;

}
#myCarousel .carousel-item h5{
    
    text-align: center;

}
/* FOOTER */
footer{
    background-color: #333;
    padding: 20px 0 40px;
    text-align: center;
}
footer span{
    color: white;
    font-size: 25px;

}
footer h6{
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px;
}

/* NAVBAR */
.navbar{
    background-color: #3d2a2a;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
.nav-link{
    color: white !important;
    margin: 0 6px;
}
.nav-link .active, .nav-link:hover{
    background-color: white;
    color: #3d2a2a !important;
}
.skills-det{
    color: #3d2a2a;
}

